<h1 style="margin-top: 20px; margin-bottom: 50px; margin-left:13px;">Votre Indexation</h1>

<div class="body-wrap">
  <div class="results">
    <div class="new-rent-2"><%=@lease.new_rent.round(2)%>€</div>
    <div class="sub-title-2">Loyer indexé</div>
    <div class="flex-items">
      <div class="index-from">
        <div class="index-year">
          A partir de
          <div class="calendar">
            <div class="calendar-top"><%=@lease.indexation_start.split(' ')[0]%></div>
            <div class="calendar-bottom"><%=@lease.indexation_start.split(' ')[1]%></div>
          </div>
        </div>
      </div>
      <div class="current-index">
        <div class="new-index">
          <%=@lease.current_index%>
        </div>
        <div class="sub-title-3">Indice Actuel</div>
      </div>
      <div class="old-index">
        <div class="new-index">
          <%=@lease.sign_index%>
        </div>
        <div class="sub-title-3">Indice Signature</div>
      </div>
      <div class="pdf-it">
        <div class="button-center">
          <button class="btn-smovehouse" >Génerer un Pdf</button>
        </div>
        <div class="sub-title-3"> Envoyez un recommandé au sujet de votre indexation à votre locataire </div >
      </div>
    </div>
  </div>
</div>




<h1>Faites un nouveau calcul</h1>
<div class="form-container-2">
  <%=render 'shared/index_form'%>
</div>

