<div class="body-wrap">
  <div class="form-container maths">
    <h2 class="sub-title">Calcul</h2>
    <div class="flex-terms">
      <div class="left-terms">
        <div class="new-rent">
          <p>Loyer indexé: <%=@lease.new_rent.round(2)%>€ </p>
        </div>
        <div class="index-year">
          Quid
        </div>
      </div>
      <div class="right-terms">
        <div class="start-index">
          Indice <%=Date::MONTHNAMES[@lease.signature_month]%> <%=@lease.signature_year%> : <%=@lease.sign_index%>
        </div>
        <div class="current-index">
          Indice Actuel: <%=@lease.current_index%>
        </div>
      </div>
    </div>
    <!-- <div class="edit-buttons">
      <button class="btn-smovehouse">Recevoir la lettre par email</button>
    </div> -->
  </div>
</div>


<h1>Faites un nouveau calcul</h1>
<div class="form-container">
  <%=render 'shared/index_form'%>
</div>
<!-- <div class="button-center">
  <button class="btn-smovehouse" >#JustSmoveIt</button>
</div> -->
