<h1 style="margin-top: 20px;">Votre Indexation</h1>
<div class="body-wrap">
  <div class="result-container">
<!--     <div class="title"> -->
<!--       <h2 style="color: #115E80">Calcul</h2> -->
<!--     </div> -->
    <div class="shit-shit-shit">
            <div class="test-design">
              <div class="index-year">
                  A partir de
                  <div class="calendar">
                    <div class="calendar-top"><%=@lease.indexation_start.split(' ')[0]%></div>
                    <div class="calendar-bottom"><%=@lease.indexation_start.split(' ')[1]%></div>
                  </div>
                </div>
            <div class="head-container">
              <div class="sub-title">Loyer indexé</div>
              <div class="new-rent"><%=@lease.new_rent.round(2)%>€</div>
            </div>
            </div>

            <div class="edit-buttons">
                <div>
                  Indice <%=Date::MONTHNAMES[@lease.signature_month]%> <%=@lease.signature_year%>: <%=@lease.sign_index%>
                </div>
                <div class="second-terms">
                    Indice Actuel: <%=@lease.current_index%>
                </div>


            </div>
            <!-- <button class="submit-btn">Recevoir la lettre par email</button> -->
    </div>
  </div>
</div>






















            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <a class='close-reveal-modal'>Close modal</a>
                  <h4 class="modal-title" id="myModalLabel">Vos Informations</h4>
                </div>
                <div class="modal-body">
                  <div class="form-container-2">
                    <%=render 'shared/index_form'%>
                  </div>
                  <!-- Button trigger modal -->
                  <a class='open-second'>Click me!</a>
                </div>
              </div>
            </div>

            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Les informations de votre locataire</h4>
                </div>
                <div class="modal-body">
                  <div class="form-container-2">
                    <%=render 'shared/index_form'%>
                    <a  class="close">CLOSE</a>

                  </div>
                </div>
              </div>
            </div>



